<h2 lang="ru">{{author.name}}</h2>

{{#if author.articles.length}}
<ul>
    {{#each author.articles}}
        <li class="science" onclick="location.href='/article/{{ _id }}'">
            <label>
                <h5 lang="ru"><b>{{ name }}</b></h5>
                <label style="font-size:large" class="mrgright2">
                    Авторы:<br>
                    {{#each authors}}
                        {{name}}<br>
                    {{/each}}
                </label>
                <label class="mrgright">
                    Теги:<br>
                    {{#each tags}}
                        {{this}}<br>
                    {{/each}}
                </label>
                <label lang="ru">{{ datePublication }}</label>
            </label>
        </li>
    {{/each}}
</ul>
{{else}}
<h3>Статей нет.<h3>
{{/if}}